* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'DM Sans', sans-serif;

}

a {
    text-decoration: none;
}

#header {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-btn {
    cursor: pointer;
    border: none;
    background: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;

}

.header-btn:hover {
    box-shadow: 0 9px  10px -5px rgba(255, 255, 255, 0.56);
    transition: 0.7s;
    transform: translateY(-10px);
}
.header-btn:focus {
    background: #000;
}

.header-btn:active {
    background: red;
}
.header-btn:focus {
    background: #000;
}
#hero {
    background: url("../images/Poster.png") no-repeat center/cover;
    min-height: 100vh;
    padding-top: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.hero h2 {
    color: white;

}

.subtitle, .description {
    display: flex;

}

.hero-desc:first-line {
    color: orange;
    text-transform: initial;
}

.burger {
    margin-top: 50px;
    position: relative;
    width: 40px;
    height: 40px;
}


.line {
    display: flex;
    width:30px;
    height: 3px;
    background: #ffffff;
}

.line::before {
    content: "";
    position: absolute;
    width:30px;
    height: 3px;
    background: #ffffff;
    top: 8px;
}

.line::after {
    content: "";
    position: absolute;
    width:30px;
    height: 3px;
    background: #ffffff;
    top: 16px;
}


/*FEATURED*/
#featured {
    padding-top: 100px;
}

.featured-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured {
    display: flex;
    justify-content: space-around;
}

.featured-card h6, h3, .subtitle {
    margin: 10px 0;
}

.featured-card .subtitle {
    display: flex;
    justify-content: space-between;
}

.featured-card {
    position: relative;
    cursor: pointer;
    transition: 0.7s;
    transform: scale(1, 1);
}
.featured-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #9CA3AF;
}

.featured-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #111827;
}

.featured-content {
    opacity: 0;
    transition: 0.7s;

}
.featured-card:hover .featured-content {
    position: absolute;
    opacity: 1;
    transition: 0.7s;
    transform: translateY(-130px);
    background: rgba(154, 157, 4, 0.54);
    width: 100%;
    color: white;
}
.featured-card:hover {
    transition: 0.7s;
    transform: scale(1, .8);

}

.featured-category {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #9CA3AF;

}

/*FEATURED*/
/*exclusive*/
.exclusive-top, .casts-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.exclusive {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.casts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.users {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user {
    width: 400px;
    height: 500px;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.54);
}
.user img {
    transition: 0.7s;
    width: 400px;
    height: 400px;
}
.user:hover img {
    transition: 0.7s;
    width: 450px;
    height: 450px;
}
/*exclusive*/
/*footer*/
#footer {
    padding-top: 50px;
}
.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.docs   a   {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    /* gray/900 */

    color: #111827;
    margin: 0 10px;

}
.footer h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    /* gray/500 */

    color: #6B7280;
}
.social a {
    color:black;
}
/*footer*/

